<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.koitt.book.model.Book">
  	<insert id="insert-book" parameterType="Book">
  		INSERT INTO book(title, author, isbn, description)
  		INSERT INTO book (title, author, publisher, price, description)
		VALUES (#{책제목-1}, #{작가-1}, #{출판사-1}, #{30000}, #{설명-1},CURDATE());
  	</insert>
  	
  	
  	<select id="select-book" parameterType="String" resultType="Book">
  		SELECT * FROM book WHERE isbn = #{isbn}
  	</select>
  	
  	<select id="select-all-book" resultType="Book">
  		SELECT * FROM book ORDER BY isbn DESC
  	</select>
  	
  	<select id="select-count-book" resultType="int">
  		SELECT COUNT(*) cnt FROM book
  	</select>
  	
  	<update id="update-book" parameterType="Book">
  		UPDATE book SET title = #{title}, author = #{author}, description = CURDATE()
  		WHERE isbn = #{isbn}  
  	</update>
  	
  	<delete id="delete-book" parameterType="String">
  		DELETE FROM book WHERE isbn = #{isbn}
  	</delete>
  	
  </mapper>
  
  
  
  
  
  
  